# node
node_modules
dist
.vite
.eslintcache

# env
*.env
!.env.example

# editor
.vscode
.idea

# rust/target
target
**/*.wasm

# lockfiles (monorepo usa pnpm-lock na raiz)
packages/**/package-lock.json
packages/**/yarn.lock
